 body {
        font-family: Arial, sans-serif;
        background:#f4f4f4;
        padding: 40px;
        display: flex;
        justify-content: center;
    }

    .container {
        background: white;
        padding: 20px;
        width: 350px;
        border-radius: 8px;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    }

    h2 {
        text-align: center;
        margin-bottom: 20px;
    }

    #taskInput {
        width: 70%;
        padding: 10px;
        border: 1px solid #aaa;
        border-radius: 4px;
    }

    #addBtn {
        padding: 10px 14px;
        background: #28a745;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 5px;
    }

    #addBtn:hover {
        background: #218838;
    }

    ul {
        margin-top: 20px;
        padding: 0;
        list-style: none;
    }

    li {
        background: #fafafa;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #ddd;
        cursor: pointer;
    }

    li.completed {
        text-decoration: line-through;
        color: gray;
    }

    .removeBtn {
        padding: 5px 8px;
        background: #dc3545;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
 .removeBtn:hover {
        background: #c82333;
    }